.school-short {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 4px 4px 16px rgba(42, 43, 46, 0.35);
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;

  cursor: pointer;

  margin-bottom: 1.5rem;

  &:hover {
    box-shadow: 4px 4px 16px rgba(42, 43, 46, 0.75);

    .school-short__header::before {
      transform: translateX(0.25rem);
    }
  }

  .school-short__header {
    position: relative;
    width: 100%;

    h3 {
      @include S;
      font-weight: 700;
    }

    p {
      @include S;
      color: $gray;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 1rem;
      width: 1.38rem;
      background-image: url('data:image/svg+xml;utf8,<svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 8.5C0 7.61634 0.716344 6.9 1.6 6.9H18.9965C19.8802 6.9 20.5965 7.61634 20.5965 8.5V8.5C20.5965 9.38366 19.8802 10.1 18.9965 10.1H1.6C0.716347 10.1 0 9.38366 0 8.5V8.5Z" fill="%2301427A"/><path d="M12.6428 16.5C11.3612 16.5 10.7809 14.8975 11.7654 14.0769L16.613 10.0363C17.5723 9.23672 17.5723 7.76328 16.613 6.9637L11.7654 2.92307C10.7809 2.10247 11.3612 0.5 12.6428 0.5V0.5C12.9634 0.5 13.2739 0.612432 13.5202 0.817729L20.8937 6.9637C21.853 7.76328 21.853 9.23672 20.8937 10.0363L13.5202 16.1823C13.2739 16.3876 12.9634 16.5 12.6428 16.5V16.5Z" fill="%2301427A"/></svg>');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      transform: translateX(0);
      transition: transform 0.2s ease-in-out;
    }
  }

  .school-short__stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      img {
        height: 1rem;
      }

      p {
        @include S;
        color: $gray;
        transform: translateY(0.1rem);
      }
    }
  }
}
