main {
  h1 {
    @include XL;

    img {
      cursor: pointer;
      height: 2rem;
      transform: translateX(0);
      transition: transform 0.25s ease-in-out;

      &:hover {
        transform: translateX(-0.5rem);
      }
    }
  }
  h2 {
    @include XL;
  }
  p {
    @include S;
  }

  .hero {
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
    padding-bottom: 4rem;

    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: .5rem;
      width: 100%;

      @media only screen and (min-width: 768px) {
        align-items: center;
        text-align: center;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;

      width: 100%;

      .button {
        width: 100%;
        max-width: 30rem;
      }

      @media only screen and (min-width: 768px) {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
      }
    }

    img {
      width: 100%;
      max-width: 40rem;
      margin-top: 1rem;
    }
  }

  .about {
    min-height: calc(100svh - 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
    line-height: 2.5em;
    
    h3 {
      @include L;
      margin-top: 2rem;
    }

    h2 {
      padding-bottom: 1rem;
    }
    p {
      @include M;
      font-weight: normal;
    }

    h2, p {
      flex: 0;
    }

    .spacer {
      flex: 1;
    }
  }
}
